node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.gitignore
.gitignore
frontend/index.html
frontend/generated/vaadin-featureflags.js
frontend/generated/vaadin.ts
frontend/generated/flow/generated-flow-imports.d.ts
frontend/generated/flow/generated-flow-imports.js
frontend/generated/jar-resources/buttonFunctions.js
frontend/generated/jar-resources/comboBoxConnector.js
frontend/generated/jar-resources/contextMenuConnector.js
frontend/generated/jar-resources/contextMenuTargetConnector.js
frontend/generated/jar-resources/datepickerConnector.js
frontend/generated/jar-resources/dndConnector.js
frontend/generated/jar-resources/flow-component-directive.js
frontend/generated/jar-resources/flow-component-renderer.js
frontend/generated/jar-resources/Flow.d.ts
frontend/generated/jar-resources/Flow.js
frontend/generated/jar-resources/Flow.js.map
frontend/generated/jar-resources/FlowBootstrap.d.ts
frontend/generated/jar-resources/FlowBootstrap.js
frontend/generated/jar-resources/FlowClient.d.ts
frontend/generated/jar-resources/FlowClient.js
frontend/generated/jar-resources/gridConnector.js
frontend/generated/jar-resources/index.d.ts
frontend/generated/jar-resources/index.js
frontend/generated/jar-resources/index.js.map
frontend/generated/jar-resources/lit-renderer.ts
frontend/generated/jar-resources/menubarConnector.js
frontend/generated/jar-resources/messageListConnector.js
frontend/generated/jar-resources/selectConnector.js
frontend/generated/jar-resources/theme-util.js
frontend/generated/jar-resources/tooltip.ts
frontend/generated/jar-resources/vaadin-big-decimal-field.js
frontend/generated/jar-resources/vaadin-grid-flow-selection-column.js
frontend/generated/jar-resources/virtualListConnector.js
frontend/generated/jar-resources/copilot/base-panel-ZMfG2SWA.js
frontend/generated/jar-resources/copilot/copilot-5xZabcKF.js
frontend/generated/jar-resources/copilot/copilot-database-plugin-xVGlIg66.js
frontend/generated/jar-resources/copilot/copilot-features-plugin-LL1hX0CV.js
frontend/generated/jar-resources/copilot/copilot-info-plugin-HBZGlRGb.js
frontend/generated/jar-resources/copilot/copilot-log-plugin-gEUGMl7B.js
frontend/generated/jar-resources/copilot/copilot-outline-fafua_OU.js
frontend/generated/jar-resources/copilot/copilot-palette-Y_q0KNdC.js
frontend/generated/jar-resources/copilot/copilot-plugin-support.d.ts
frontend/generated/jar-resources/copilot/copilot-theme-editor-plugin-qWw9qohn.js
frontend/generated/jar-resources/copilot/copilot.js
frontend/generated/jar-resources/copilot/vaadin-accordion-EHoIqmew.js
frontend/generated/jar-resources/copilot/vaadin-accordion-heading-Eyn9kzjo.js
frontend/generated/jar-resources/copilot/vaadin-accordion-panel-7AwTZi1h.js
frontend/generated/jar-resources/copilot/vaadin-app-layout-pghml3BO.js
frontend/generated/jar-resources/copilot/vaadin-avatar-mn6ttwxw.js
frontend/generated/jar-resources/copilot/vaadin-big-decimal-field-Da48mqs4.js
frontend/generated/jar-resources/copilot/vaadin-board-K2TYwsCp.js
frontend/generated/jar-resources/copilot/vaadin-board-row-u4UN7DTY.js
frontend/generated/jar-resources/copilot/vaadin-button-ghqKrfmI.js
frontend/generated/jar-resources/copilot/vaadin-chart-vAr7ygLo.js
frontend/generated/jar-resources/copilot/vaadin-checkbox-BOYT2BAG.js
frontend/generated/jar-resources/copilot/vaadin-checkbox-group-AA9F-Y1P.js
frontend/generated/jar-resources/copilot/vaadin-combo-box-G1qChrVG.js
frontend/generated/jar-resources/copilot/vaadin-confirm-dialog-We_Mu6aA.js
frontend/generated/jar-resources/copilot/vaadin-cookie-consent-tDl727mR.js
frontend/generated/jar-resources/copilot/vaadin-crud-jfkgZEvW.js
frontend/generated/jar-resources/copilot/vaadin-custom-field-2m_iyCsM.js
frontend/generated/jar-resources/copilot/vaadin-date-picker-4MNlq3JQ.js
frontend/generated/jar-resources/copilot/vaadin-date-time-picker-A6t3xLNM.js
frontend/generated/jar-resources/copilot/vaadin-details-PNFWYN5A.js
frontend/generated/jar-resources/copilot/vaadin-details-summary-AoC9PbFI.js
frontend/generated/jar-resources/copilot/vaadin-dialog-aQcePgjY.js
frontend/generated/jar-resources/copilot/vaadin-email-field-B_MEAXNA.js
frontend/generated/jar-resources/copilot/vaadin-form-layout-zscgz81W.js
frontend/generated/jar-resources/copilot/vaadin-grid-CUkOvGp5.js
frontend/generated/jar-resources/copilot/vaadin-grid-pro-7O9NhsFD.js
frontend/generated/jar-resources/copilot/vaadin-horizontal-layout-KNIfarjx.js
frontend/generated/jar-resources/copilot/vaadin-icon-xjtJT6aN.js
frontend/generated/jar-resources/copilot/vaadin-integer-field-1sSXLWN2.js
frontend/generated/jar-resources/copilot/vaadin-list-box-O5svrxDW.js
frontend/generated/jar-resources/copilot/vaadin-login-form-JQaGFkUw.js
frontend/generated/jar-resources/copilot/vaadin-login-overlay-N4N14Q_D.js
frontend/generated/jar-resources/copilot/vaadin-map-ZGilcc2g.js
frontend/generated/jar-resources/copilot/vaadin-menu-bar-EBOPkXDl.js
frontend/generated/jar-resources/copilot/vaadin-message-input-_KguWcmh.js
frontend/generated/jar-resources/copilot/vaadin-message-list-klTgSyOq.js
frontend/generated/jar-resources/copilot/vaadin-multi-select-combo-box-tMESaMvc.js
frontend/generated/jar-resources/copilot/vaadin-notification-m4kAI7QS.js
frontend/generated/jar-resources/copilot/vaadin-number-field-dbZyLWo4.js
frontend/generated/jar-resources/copilot/vaadin-password-field-RBAuIyV_.js
frontend/generated/jar-resources/copilot/vaadin-progress-bar-z0xznLoB.js
frontend/generated/jar-resources/copilot/vaadin-radio-group-D7xA_GQR.js
frontend/generated/jar-resources/copilot/vaadin-rich-text-editor-v07qMlRr.js
frontend/generated/jar-resources/copilot/vaadin-scroller-O88XRpnD.js
frontend/generated/jar-resources/copilot/vaadin-select-xg45q-fW.js
frontend/generated/jar-resources/copilot/vaadin-side-nav-4MjqITMd.js
frontend/generated/jar-resources/copilot/vaadin-side-nav-item-CoIZdxBe.js
frontend/generated/jar-resources/copilot/vaadin-split-layout-P2lI9ROk.js
frontend/generated/jar-resources/copilot/vaadin-spreadsheet-tUn6cNW4.js
frontend/generated/jar-resources/copilot/vaadin-tab-iUuW48d9.js
frontend/generated/jar-resources/copilot/vaadin-tabs-Amf5dL__.js
frontend/generated/jar-resources/copilot/vaadin-tabsheet-Zcp8ldUh.js
frontend/generated/jar-resources/copilot/vaadin-text-area-3f3jcqR-.js
frontend/generated/jar-resources/copilot/vaadin-text-field-GsooWDDF.js
frontend/generated/jar-resources/copilot/vaadin-time-picker-ZZf6waY_.js
frontend/generated/jar-resources/copilot/vaadin-upload-Jubj8z_W.js
frontend/generated/jar-resources/copilot/vaadin-vertical-layout-XG5Hn0IK.js
frontend/generated/jar-resources/copilot/vaadin-virtual-list-Di-TzFcj.js
frontend/generated/jar-resources/vaadin-dev-tools/component-picker.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/component-util.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/connection.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/License.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/live-reload-connection.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/shim.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/styles.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools-info.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools-log.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.js
frontend/generated/jar-resources/vaadin-dev-tools/vaadin-dev-tools.test.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/websocket-connection.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-accordion-eed3b794.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-accordion-heading-c0acdd6d.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-accordion-panel-616e55d6.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-app-layout-e56de2e9.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-avatar-7599297d.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-big-decimal-field-e51def24.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-board-828ebdea.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-board-row-c70d0c55.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-button-2511ad84.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-chart-5192dc15.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-checkbox-4e68df64.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-checkbox-group-a7c65bf2.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-combo-box-96451ddd.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-confirm-dialog-4d718829.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-cookie-consent-46c09f8b.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-crud-8d161a22.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-custom-field-42c85b9e.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-date-picker-f2001167.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-date-time-picker-c8c047a7.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-details-bf336660.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-details-summary-351a1448.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-dialog-53253a08.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-email-field-d7a35f04.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-form-layout-47744b1d.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-grid-0a4791c2.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-grid-pro-ff415555.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-horizontal-layout-3193943f.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-icon-601f36ed.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-integer-field-85078932.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-list-box-d7a8433b.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-login-form-638996c6.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-login-overlay-f8a5db8a.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-map-d40a0116.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-menu-bar-3f5ab096.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-message-input-996ac37c.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-message-list-70a435ba.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-multi-select-combo-box-a3373557.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-notification-bd6eb776.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-number-field-cb3ee8b2.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-password-field-d289cb18.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-progress-bar-309ecf1f.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-radio-group-88b5afd8.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-rich-text-editor-8cd892f2.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-scroller-35e68818.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-select-df6e9947.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-side-nav-ba80d91d.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-side-nav-item-34918f92.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-split-layout-80c92131.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-spreadsheet-59d8c5ef.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-tab-aaf32809.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-tabs-d9a5e24e.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-tabsheet-dd99ed9a.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-text-area-83627ebc.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-text-field-0b3db014.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-time-picker-715ec415.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-upload-d3c162ed.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-vertical-layout-ad4174c4.js
frontend/generated/jar-resources/vaadin-dev-tools/assets/vaadin-virtual-list-96896203.js
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/api.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/detector.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/history.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/icons.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/model.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/preview.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/styles.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/class-name-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/component-overlay-manager.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/component-resolver.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/property-list.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/scope-selector.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/base-property-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/checkbox-property-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/color-picker.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/color-property-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/range-property-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/components/editors/text-property-editor.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/metadata/model.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/metadata/registry.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/metadata/components/defaults.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/metadata/components/generic.d.ts
frontend/generated/jar-resources/vaadin-dev-tools/theme-editor/metadata/components/presets.d.ts
frontend/generated/jar-resources/vaadin-time-picker/helpers.js
frontend/generated/jar-resources/vaadin-time-picker/timepickerConnector.js
storage/PersistenceTypeDictionary.ptd
storage/channel_0/channel_0_4.dat
storage/channel_0/channel_0_6.dat
storage/channel_0/channel_0_8.dat
storage/channel_0/channel_0_16.dat
storage/channel_0/channel_0_17.dat
storage/channel_0/transactions_0.sft
storage/channel_1/channel_1_3.dat
storage/channel_1/channel_1_8.dat
storage/channel_1/channel_1_17.dat
storage/channel_1/channel_1_33.dat
storage/channel_1/channel_1_34.dat
storage/channel_1/transactions_1.sft
storage/channel_2/channel_2_833.dat
storage/channel_2/channel_2_834.dat
storage/channel_2/channel_2_835.dat
storage/channel_2/channel_2_836.dat
storage/channel_2/channel_2_1338.dat
storage/channel_2/channel_2_1340.dat
storage/channel_2/channel_2_1341.dat
storage/channel_2/transactions_2.sft
storage/channel_3/channel_3_4.dat
storage/channel_3/channel_3_8.dat
storage/channel_3/channel_3_17.dat
storage/channel_3/channel_3_34.dat
storage/channel_3/channel_3_35.dat
storage/channel_3/transactions_3.sft
